.detail h3 {
  margin-top: 32px;
}

.id {
  opacity: 0.6;
}

.usuario,
.fecha {
  margin-left: 10px;
  opacity: 0.6;
}



.contenido,
.estado {
  margin-top: 16px;
}

.volver {
  font-size: 80%;
}

.estado button {
  margin-right: 16px;
}
#header h3 { display:inline; }